@using Parcoist.DTO.LogoDtos
@model CreateLogoDto

@{
    ViewData["Title"] = "Logo Ekle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container mt-4">
    <h2 class="mb-4">Logo Ekle</h2>

    <form asp-action="Add" asp-controller="Logo" method="post" enctype="multipart/form-data">
        <div class="form-group mb-3">
            <label class="form-label">Kategori Görseli</label>
            <input type="file" name="logoFile" class="form-control" />
        </div>

        <div class="form-group mb-3">
            <label asp-for="LogoTitle" class="form-label">Logo Başlığı</label>
            <input asp-for="LogoTitle" class="form-control" />
            <span asp-validation-for="LogoTitle" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="LogoLink" class="form-label">Logo Linki</label>
            <input asp-for="LogoLink" class="form-control" />
            <span asp-validation-for="LogoLink" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-success">Kaydet</button>
        <a asp-action="Index" class="btn btn-secondary ms-2">İptal</a>
    </form>
</div>


