@using Parcoist.UI.Entities
@model List<Category>
<div id="cate" class="categories">
	<div class="container">
		<h3>KATEGORİLER</h3>
		<div class="categorie-grids">
			@foreach(var item in Model){
				<a href="bicycles.html">
					<div class="col-md-4 cate-grid grid1">
						<h4>@item.CategoryName</h4>
						<p>@item.CategoryDescription</p>
						<a class="store" href="/HomeCategory/Index/">Tümünü göster</a>
					</div>
				</a>
			}
			<div class="clearfix"></div>
		</div>
	</div>
</div>