@using Parcoist.UI.Entities
@model List<Category>
<div id="cate" class="categories">
	<div class="container">
		<h3>KATEGORİLER</h3>
		<div class="categorie-grids">
			@foreach(var item in Model){
				<a href="bicycles.html">
					<div class="col-md-4 cate-grid grid1">
						<h4>@item.CategoryName</h4>
						<p>@item.CategoryDescription</p>
						<a class="store" href="bicycles.html">Tümünü göster</a>
					</div>
				</a>
			}
			@* <a href="bicycles.html">
				<div class="col-md-4 cate-grid grid2">
					<h4>PREMIMUM SERIES</h4>
					<p>Exclusive Bike Components</p>
					<a class="store" href="bicycles.html">GO TO STORE</a>
				</div>
			</a>
			<a href="bicycles.html">
				<div class="col-md-4 cate-grid grid3">
					<h4>CITY BIKES</h4>
					<p>Street Playground</p>
					<a class="store" href="bicycles.html">GO TO STORE</a>
				</div>
			</a> *@
			<div class="clearfix"></div>
		</div>
	</div>
</div>