@using Parcoist.UI.Entities
@model List<Category>

<div id="cate" class="categories">
    <div class="container">
        <h3 style="color:white">KATEGORİLER</h3>
        <div class="categorie-grids">
            @foreach (var item in Model)
            {
                <a href="/HomeCategory/Index/@item.CategoryID">
                    <div class="col-md-4 cate-grid grid1 text-center">
                        <div class="cate-image">
                            <img src="@item.CategoryImage" alt="@item.CategoryName" class="img-category" />
                        </div>
                        <h4 style="color:white">@item.CategoryName</h4>
                        <p>@item.CategoryDescription</p>
                        
                    </div>
                </a>
            }
            <a class="store" href="/HomeCategory/Index">Tümünü göster</a>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<style>
    .cate-image {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }

        .cate-image .img-category {
            width: 120px; /* kare boyut */
            height: 120px;
            object-fit: cover; /* resmi kırpmadan, orantılı şekilde kareye oturt */
            border-radius: 50%; /* istersen hafif köşe yuvarlama */
        }

</style>