@{
    ViewData["Title"] = "Sayfa Bulunamadı";
    Layout = "~/Views/Shared/_HomeLayout.cshtml"; // Eğer kendi layout'unuz varsa onu kullanın
}
<div class="404-page" style="margin:1.7%">
	<div class="container">
		<div class="error-head">
			<h1>4<label>0</label>4</h1>
			<span>Hata</span>
			<h2>Ooops....!Sayfa Bulunamadı.</h2>
			<a href="index.html">Geri Dön</a>
		</div>
	</div>
</div>
